# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.nn# dependenciesn/node_modulesn/.pnpn.pnp.jsnn# testingn/coveragenn# productionn/buildnn# miscn.DS_Storen.env.localn.env.development.localn.env.test.localn.env.production.localnnnpm-debug.log*nyarn-debug.log*nyarn-error.log*
node_modules
